/PimCore.ApiService/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PimCore.AppHost/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PimCore.ServiceDefaults/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PimCore.Web/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PimCore.Web/obj/Debug/net9.0/compressed/3vuzwxmrwe-q9ht133ko3.gz
/PimCore.Web/obj/Debug/net9.0/compressed/4zxrn37sew-ft3s53vfgj.gz
/PimCore.Web/obj/Debug/net9.0/compressed/5tlu33nq8j-hrwsygsryq.gz
/PimCore.Web/obj/Debug/net9.0/compressed/8h1w7xp46b-fvhpjtyr6v.gz
/PimCore.Web/obj/Debug/net9.0/compressed/8ig4l3f3w1-r4e9w2rdcm.gz
/PimCore.Web/obj/Debug/net9.0/compressed/45qsa8w4qo-zub09dkrxp.gz
/PimCore.Web/obj/Debug/net9.0/compressed/63b278witx-pa68syrtmh.gz
/PimCore.Web/obj/Debug/net9.0/compressed/99yb98ygaz-c2jlpeoesf.gz
/PimCore.Web/obj/Debug/net9.0/compressed/977l73jtoo-wl58j5mj3v.gz
/PimCore.AppHost/obj/Debug/net9.0/Aspire/references/_AppHost.ProjectMetadata.g.cs
/PimCore.ApiService/obj/Debug/net9.0/apphost
/PimCore.AppHost/obj/Debug/net9.0/apphost
/PimCore.Web/obj/Debug/net9.0/apphost
/PimCore.ApiService/bin/Debug/net9.0/appsettings.Development.json
/PimCore.Web/bin/Debug/net9.0/appsettings.Development.json
/PimCore.ApiService/bin/Debug/net9.0/appsettings.json
/PimCore.Web/bin/Debug/net9.0/appsettings.json
/PimCore.AppHost/bin/Debug/net9.0/Aspire.Hosting.AppHost.dll
/PimCore.AppHost/bin/Debug/net9.0/Aspire.Hosting.dll
/PimCore.AppHost/bin/Debug/net9.0/cs/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/de/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/es/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/fr/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/it/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/ja/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/ko/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/pl/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/pt-BR/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/ru/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/tr/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/zh-Hans/Aspire.Hosting.resources.dll
/PimCore.AppHost/bin/Debug/net9.0/zh-Hant/Aspire.Hosting.resources.dll
/PimCore.Web/obj/Debug/net9.0/compressed/butlvv29l6-gye83jo8yx.gz
/PimCore.Web/obj/Debug/net9.0/compressed/cilzuah9dc-pj5nd1wqec.gz
/PimCore.Web/obj/Debug/net9.0/compressed/d1c30791re-eq931ffrsb.gz
/PimCore.Web/obj/Debug/net9.0/compressed/djc9bqwq2t-ee0r1s7dh0.gz
/PimCore.Web/obj/Debug/net9.0/compressed/ee8zud29c6-c2oey78nd0.gz
/.idea/.idea.PimCore/.idea/encodings.xml
/PimCore.Web/obj/Debug/net9.0/compressed/f3uq6gntib-ra5bj8nt8z.gz
/PimCore.Web/obj/Debug/net9.0/compressed/fob3i2i68w-fsbi9cje9m.gz
/PimCore.AppHost/bin/Debug/net9.0/Fractions.dll
/PimCore.Web/obj/Debug/net9.0/compressed/g241yoyxtx-rxsg74s51o.gz
/PimCore.ApiService/bin/Debug/net9.0/Google.Protobuf.dll
/PimCore.AppHost/bin/Debug/net9.0/Google.Protobuf.dll
/PimCore.Web/bin/Debug/net9.0/Google.Protobuf.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.AspNetCore.Server.ClientFactory.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.AspNetCore.Server.dll
/PimCore.ApiService/bin/Debug/net9.0/Grpc.Core.Api.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.Core.Api.dll
/PimCore.Web/bin/Debug/net9.0/Grpc.Core.Api.dll
/PimCore.ApiService/bin/Debug/net9.0/Grpc.Net.Client.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.Net.Client.dll
/PimCore.Web/bin/Debug/net9.0/Grpc.Net.Client.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.Net.ClientFactory.dll
/PimCore.ApiService/bin/Debug/net9.0/Grpc.Net.Common.dll
/PimCore.AppHost/bin/Debug/net9.0/Grpc.Net.Common.dll
/PimCore.Web/bin/Debug/net9.0/Grpc.Net.Common.dll
/PimCore.Web/obj/Debug/net9.0/compressed/hc2mn2hnkh-7dfj718u6b.gz
/PimCore.AppHost/bin/Debug/net9.0/HealthChecks.Uris.dll
/PimCore.Web/obj/Debug/net9.0/compressed/hrzqtckzck-d4r6k3f320.gz
/PimCore.AppHost/bin/Debug/net9.0/Humanizer.dll
/PimCore.Web/obj/Debug/net9.0/compressed/hxcl5ifnv2-sejl45xvog.gz
/PimCore.Web/obj/Debug/net9.0/compressed/i1lxe8swch-v0zj4ognzu.gz
/PimCore.AppHost/bin/Debug/net9.0/IdentityModel.dll
/PimCore.AppHost/bin/Debug/net9.0/IdentityModel.OidcClient.dll
/.idea/.idea.PimCore/.idea/indexLayout.xml
/PimCore.AppHost/bin/Debug/net9.0/Json.More.dll
/PimCore.AppHost/bin/Debug/net9.0/JsonPatch.Net.dll
/PimCore.AppHost/bin/Debug/net9.0/JsonPointer.Net.dll
/PimCore.AppHost/bin/Debug/net9.0/KubernetesClient.dll
/PimCore.Web/obj/Debug/net9.0/compressed/ls8fdi94fm-jd9uben2k1.gz
/PimCore.Web/obj/Debug/net9.0/compressed/m25b6vu4su-t1cqhe9u97.gz
/PimCore.Web/obj/Debug/net9.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/PimCore.Web/obj/Debug/net9.0/compressed/mhckp993da-43atpzeawx.gz
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.AmbientMetadata.Application.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.AmbientMetadata.Application.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Compliance.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Compliance.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.CommandLine.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.AutoActivation.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.AutoActivation.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.ExceptionSummarization.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.ExceptionSummarization.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.HealthChecks.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Hosting.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Http.Diagnostics.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Http.Diagnostics.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Http.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Http.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Http.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Http.Resilience.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Http.Resilience.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.Console.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.Debug.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventLog.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventSource.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.ObjectPool.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.ObjectPool.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Resilience.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Resilience.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.ServiceDiscovery.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.ServiceDiscovery.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.ServiceDiscovery.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.ServiceDiscovery.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Telemetry.Abstractions.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Telemetry.Abstractions.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.Extensions.Telemetry.dll
/PimCore.Web/bin/Debug/net9.0/Microsoft.Extensions.Telemetry.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/PimCore.AppHost/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/PimCore.ApiService/bin/Debug/net9.0/Microsoft.OpenApi.dll
/PimCore.Web/obj/Debug/net9.0/compressed/mnq0j0viqt-2h1fye1fjf.gz
/PimCore.ApiService/obj/Debug/net9.0/staticwebassets/msbuild.build.PimCore.ApiService.props
/PimCore.Web/obj/Debug/net9.0/staticwebassets/msbuild.build.PimCore.Web.props
/PimCore.ApiService/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.PimCore.ApiService.props
/PimCore.Web/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.PimCore.Web.props
/PimCore.ApiService/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.PimCore.ApiService.props
/PimCore.Web/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.PimCore.Web.props
/PimCore.Web/obj/Debug/net9.0/staticwebassets/msbuild.PimCore.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/PimCore.Web/obj/Debug/net9.0/staticwebassets/msbuild.PimCore.Web.Microsoft.AspNetCore.StaticWebAssets.props
/PimCore.Web/obj/Debug/net9.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/PimCore.Web/obj/Debug/net9.0/compressed/o7tjckczov-jc1blkq3oq.gz
/PimCore.Web/obj/Debug/net9.0/compressed/ofks5o3qhw-0pwi2kb83y.gz
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Api.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Api.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Api.ProviderBuilderExtensions.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Api.ProviderBuilderExtensions.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Extensions.Hosting.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Extensions.Hosting.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Instrumentation.AspNetCore.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Instrumentation.AspNetCore.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Instrumentation.Http.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Instrumentation.Http.dll
/PimCore.ApiService/bin/Debug/net9.0/OpenTelemetry.Instrumentation.Runtime.dll
/PimCore.Web/bin/Debug/net9.0/OpenTelemetry.Instrumentation.Runtime.dll
/PimCore.AppHost/obj/Debug/net9.0/PimCore..5B5532F6.Up2Date
/PimCore.Web/obj/Debug/net9.0/PimCore..4674700A.Up2Date
/PimCore.ApiService/obj/Debug/net9.0/PimCore..37334493.Up2Date
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.AssemblyInfo.cs
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.AssemblyInfoInputs.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.assets.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.csproj.AssemblyReference.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.csproj.CoreCompileInputs.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.csproj.FileListAbsolute.txt
/PimCore.ApiService/obj/PimCore.ApiService.csproj.nuget.dgspec.json
/PimCore.ApiService/obj/PimCore.ApiService.csproj.nuget.g.props
/PimCore.ApiService/obj/PimCore.ApiService.csproj.nuget.g.targets
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService.deps.json
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService.dll
/PimCore.ApiService/obj/Debug/net9.0/ref/PimCore.ApiService.dll
/PimCore.ApiService/obj/Debug/net9.0/refint/PimCore.ApiService.dll
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.dll
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.GeneratedMSBuildEditorConfig.editorconfig
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.genruntimeconfig.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.GlobalUsings.g.cs
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.MvcApplicationPartsAssemblyInfo.cache
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.MvcApplicationPartsAssemblyInfo.cs
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService.pdb
/PimCore.ApiService/obj/Debug/net9.0/PimCore.ApiService.pdb
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService.runtimeconfig.json
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ApiService.staticwebassets.endpoints.json
/PimCore.AppHost/bin/Debug/net9.0/PimCore.AppHost
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.AssemblyInfo.cs
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.AssemblyInfoInputs.cache
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.assets.cache
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.csproj.AssemblyReference.cache
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.csproj.CoreCompileInputs.cache
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.csproj.FileListAbsolute.txt
/PimCore.AppHost/obj/PimCore.AppHost.csproj.nuget.dgspec.json
/PimCore.AppHost/obj/PimCore.AppHost.csproj.nuget.g.props
/PimCore.AppHost/obj/PimCore.AppHost.csproj.nuget.g.targets
/PimCore.AppHost/bin/Debug/net9.0/PimCore.AppHost.deps.json
/PimCore.AppHost/bin/Debug/net9.0/PimCore.AppHost.dll
/PimCore.AppHost/obj/Debug/net9.0/ref/PimCore.AppHost.dll
/PimCore.AppHost/obj/Debug/net9.0/refint/PimCore.AppHost.dll
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.dll
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.GeneratedMSBuildEditorConfig.editorconfig
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.genruntimeconfig.cache
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.GlobalUsings.g.cs
/PimCore.AppHost/bin/Debug/net9.0/PimCore.AppHost.pdb
/PimCore.AppHost/obj/Debug/net9.0/PimCore.AppHost.pdb
/PimCore.AppHost/bin/Debug/net9.0/PimCore.AppHost.runtimeconfig.json
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.AssemblyInfo.cs
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.AssemblyInfoInputs.cache
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.assets.cache
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.csproj.AssemblyReference.cache
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.csproj.CoreCompileInputs.cache
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.csproj.FileListAbsolute.txt
/PimCore.ServiceDefaults/obj/PimCore.ServiceDefaults.csproj.nuget.dgspec.json
/PimCore.ServiceDefaults/obj/PimCore.ServiceDefaults.csproj.nuget.g.props
/PimCore.ServiceDefaults/obj/PimCore.ServiceDefaults.csproj.nuget.g.targets
/PimCore.ServiceDefaults/bin/Debug/net9.0/PimCore.ServiceDefaults.deps.json
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ServiceDefaults.dll
/PimCore.ServiceDefaults/bin/Debug/net9.0/PimCore.ServiceDefaults.dll
/PimCore.ServiceDefaults/obj/Debug/net9.0/ref/PimCore.ServiceDefaults.dll
/PimCore.ServiceDefaults/obj/Debug/net9.0/refint/PimCore.ServiceDefaults.dll
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.dll
/PimCore.Web/bin/Debug/net9.0/PimCore.ServiceDefaults.dll
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.GeneratedMSBuildEditorConfig.editorconfig
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.GlobalUsings.g.cs
/PimCore.ApiService/bin/Debug/net9.0/PimCore.ServiceDefaults.pdb
/PimCore.ServiceDefaults/bin/Debug/net9.0/PimCore.ServiceDefaults.pdb
/PimCore.ServiceDefaults/obj/Debug/net9.0/PimCore.ServiceDefaults.pdb
/PimCore.Web/bin/Debug/net9.0/PimCore.ServiceDefaults.pdb
/PimCore.Web/bin/Debug/net9.0/PimCore.Web
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.AssemblyInfo.cs
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.AssemblyInfoInputs.cache
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.assets.cache
/PimCore.Web/obj/Debug/net9.0/scopedcss/projectbundle/PimCore.Web.bundle.scp.css
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.csproj.AssemblyReference.cache
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.csproj.CoreCompileInputs.cache
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.csproj.FileListAbsolute.txt
/PimCore.Web/obj/PimCore.Web.csproj.nuget.dgspec.json
/PimCore.Web/obj/PimCore.Web.csproj.nuget.g.props
/PimCore.Web/obj/PimCore.Web.csproj.nuget.g.targets
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.deps.json
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.dll
/PimCore.Web/obj/Debug/net9.0/ref/PimCore.Web.dll
/PimCore.Web/obj/Debug/net9.0/refint/PimCore.Web.dll
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.dll
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.GeneratedMSBuildEditorConfig.editorconfig
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.genruntimeconfig.cache
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.GlobalUsings.g.cs
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.MvcApplicationPartsAssemblyInfo.cache
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.pdb
/PimCore.Web/obj/Debug/net9.0/PimCore.Web.pdb
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.runtimeconfig.json
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.staticwebassets.endpoints.json
/PimCore.Web/bin/Debug/net9.0/PimCore.Web.staticwebassets.runtime.json
/PimCore.Web/obj/Debug/net9.0/scopedcss/bundle/PimCore.Web.styles.css
/PimCore.AppHost/obj/Debug/net9.0/Aspire/references/PimCore_ApiService.ProjectMetadata.g.cs
/PimCore.AppHost/obj/Debug/net9.0/Aspire/references/PimCore_Web.ProjectMetadata.g.cs
/PimCore.ApiService/bin/Debug/net9.0/Polly.Core.dll
/PimCore.AppHost/bin/Debug/net9.0/Polly.Core.dll
/PimCore.Web/bin/Debug/net9.0/Polly.Core.dll
/PimCore.ApiService/bin/Debug/net9.0/Polly.Extensions.dll
/PimCore.Web/bin/Debug/net9.0/Polly.Extensions.dll
/PimCore.ApiService/bin/Debug/net9.0/Polly.RateLimiting.dll
/PimCore.Web/bin/Debug/net9.0/Polly.RateLimiting.dll
/PimCore.Web/obj/Debug/net9.0/compressed/ppm4txgsak-ausgxo2sd3.gz
/PimCore.ApiService/obj/project.assets.json
/PimCore.AppHost/obj/project.assets.json
/PimCore.ServiceDefaults/obj/project.assets.json
/PimCore.Web/obj/project.assets.json
/PimCore.ApiService/obj/project.nuget.cache
/PimCore.AppHost/obj/project.nuget.cache
/PimCore.ServiceDefaults/obj/project.nuget.cache
/PimCore.Web/obj/project.nuget.cache
/PimCore.ApiService/obj/project.packagespec.json
/PimCore.AppHost/obj/project.packagespec.json
/PimCore.ServiceDefaults/obj/project.packagespec.json
/PimCore.Web/obj/project.packagespec.json
/.idea/.idea.PimCore/.idea/inspectionProfiles/Project_Default.xml
/.idea/.idea.PimCore/.idea/projectSettingsUpdater.xml
/PimCore.Web/obj/Debug/net9.0/compressed/pxuh1zq5cw-l6z8exszp6.gz
/PimCore.Web/obj/Debug/net9.0/compressed/qmsnyn2ivg-nvvlpmu67g.gz
/PimCore.Web/obj/Debug/net9.0/compressed/qsqpxp6x5v-7w8ub8rzqz.gz
/PimCore.Web/obj/Debug/net9.0/compressed/rci1qbflvv-ki8tcxbgqx.gz
/PimCore.Web/obj/Debug/net9.0/compressed/reew24cqcj-91fq8o3t2o.gz
/PimCore.Web/obj/Debug/net9.0/compressed/rg5baccxd4-c63t5i9ira.gz
/PimCore.ApiService/obj/rider.project.model.nuget.info
/PimCore.AppHost/obj/rider.project.model.nuget.info
/PimCore.ServiceDefaults/obj/rider.project.model.nuget.info
/PimCore.Web/obj/rider.project.model.nuget.info
/PimCore.ApiService/obj/rider.project.restore.info
/PimCore.AppHost/obj/rider.project.restore.info
/PimCore.ServiceDefaults/obj/rider.project.restore.info
/PimCore.Web/obj/rider.project.restore.info
/PimCore.Web/obj/Debug/net9.0/compressed/rws9rzmk7j-0lyrf401j0.gz
/PimCore.Web/obj/Debug/net9.0/compressed/s2jbn1q7ms-22vffe00uq.gz
/PimCore.ApiService/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/PimCore.Web/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/PimCore.ApiService/obj/Debug/net9.0/staticwebassets.build.json
/PimCore.Web/obj/Debug/net9.0/staticwebassets.build.json
/PimCore.Web/obj/Debug/net9.0/staticwebassets.development.json
/PimCore.Web/obj/Debug/net9.0/staticwebassets.pack.json
/PimCore.Web/obj/Debug/net9.0/compressed/suenmoay07-j5mq2jizvt.gz
/PimCore.AppHost/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.dll
/PimCore.AppHost/bin/Debug/net9.0/System.Diagnostics.EventLog.dll
/PimCore.AppHost/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.Messages.dll
/PimCore.AppHost/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/PimCore.AppHost/bin/Debug/net9.0/System.IO.Hashing.dll
/PimCore.ApiService/bin/Debug/net9.0/System.IO.Pipelines.dll
/PimCore.Web/bin/Debug/net9.0/System.IO.Pipelines.dll
/PimCore.Web/obj/Debug/net9.0/compressed/tc4zzf6ayz-xvp3kq03qx.gz
/PimCore.Web/obj/Debug/net9.0/compressed/u3vg6nhn3l-aexeepp0ev.gz
/PimCore.Web/obj/Debug/net9.0/compressed/upafi2woef-rvi1krl7lp.gz
/.idea/.idea.PimCore/.idea/vcs.xml
/PimCore.Web/obj/Debug/net9.0/compressed/ve3owfiale-0pwi2kb83y.gz
/PimCore.Web/obj/Debug/net9.0/compressed/ve4kq49ufb-cosvhxvwiu.gz
/PimCore.Web/obj/Debug/net9.0/compressed/voiteku3qx-keugtjm085.gz
/.idea/.idea.PimCore/.idea/workspace.xml
/PimCore.Web/obj/Debug/net9.0/compressed/x1bjbep8hu-tmc1g35s3z.gz
/PimCore.Web/obj/Debug/net9.0/compressed/x5j74mg6u2-ynyaa8k90p.gz
/PimCore.AppHost/bin/Debug/net9.0/YamlDotNet.dll
/PimCore.Web/obj/Debug/net9.0/compressed/ycuwt4brzt-qesaa3a1fm.gz
/PimCore.Web/obj/Debug/net9.0/compressed/zrfnssu7gz-5o0m9ysn2c.gz
